<html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lovers+Quarrel" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">



</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="./">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"> Upcoming Items <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Events</a>
      </li>
      
    </ul>
    <span class="navbar-text">
 <ul class="ftco-animate"><a href="https://www.instagram.com/yumm.ysandwich/"><span class="icon-instagram"></span></a></ul>


    </span>
  </div>
</nav>



     <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-7 text-center heading-section ftco-animate">
          
            <h2 class="mb-4">Our Menu</h2>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-6 col-lg-4 menu-wrap">
        		<div class="heading-menu text-center ftco-animate">
        			<h3>Breakfast</h3>
        		</div>
        		<div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/poha.png);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>masala poha</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">25</span>
	                </div>
	              </div>
	              
              </div>
            </div>
            

            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/paneerpoha.png);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Paneer Poha</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">35</span>
	                </div>
	              </div>
	              <p><span>With extra paneer</span></p>
              </div>
            </div>

            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/biryani.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Veg Biryani</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">35</span>
	                </div>
	              </div>
	             
              </div>
            </div>

            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/coffee.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Coffee</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">10</span>
	                </div>
	              </div>
              </div>
            </div>
        	</div>




        	<div class="col-md-6 col-lg-4 menu-wrap">
        		<div class="heading-menu text-center ftco-animate">
        			<h3>SANDWICH</h3>
        		</div>
        		<div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/veg-sandwich.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Vegitable Sandwich</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">80</span>
	                </div>
	              </div>
	              <p><span>blaa</span>, <span>blaa</span>, <span>blaa</span>, <span>blaaaa</span></p>
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/chees-sandwich.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Chees Corn Sandwich</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">110</span>
	                </div>
	              </div>
	              
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/lunch-3.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Paneer Sandwich</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">120</span>
	                </div>
	              </div>
              </div>
            </div>

            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dinner-1.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Allu Sandwich</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">60</span>
	                </div>
	              </div>
	             
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dinner-2.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Choclate Sandwich</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">50</span>
	                </div>
	              </div>
	              
              </div>
            </div>
        	</div>

        	<div class="col-md-6 col-lg-4 menu-wrap">
        		<div class="heading-menu text-center ftco-animate">
        			<h3>BURGER</h3>
        		</div>
        		<div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dinner-1.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Allu Tikki Burger</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">50</span>
	                </div>
	              </div>
	             
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dinner-2.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Allu Tikki Chees Burger</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">70</span>
	                </div>
	              </div>
	              
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dinner-3.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Paneer Burger</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">60</span>
	                </div>
	              </div>
	              
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dinner-3.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Momo Burger</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">70</span>
	                </div>
	              </div>
	              
              </div>
            </div>
        	</div>
        	<div class="col-md-6 col-lg-4 menu-wrap">
        		<div class="heading-menu text-center ftco-animate">
        			<h3>MOMOS</h3>
        		</div>
        		<div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dinner-1.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Veg Momos</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">40</span>
	                </div>
	              </div>
                <p><span> 6 pcs</span></p>
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dinner-2.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Paneer Momos</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">50</span>
	                </div>
	              </div>
                <p><span> 6 pcs</span></p>
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dinner-3.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Soya Momos</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">50</span>
	                </div>
	              </div>
	              <p><span> 6 pcs </span></p>
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dinner-3.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Chees Momos</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">60</span>
	                </div>
	              </div>
	              <p><span> 6 pcs </span></p>
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dinner-3.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Choclate Momos</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">70</span>
	                </div>
	              </div>
	              <p><span> 6 pcs </span></p>
              </div>
            </div>
        	</div>
          
        	<div class="col-md-6 col-lg-4 menu-wrap">
        		<div class="heading-menu text-center ftco-animate">
        			<h3>VEG ROLL</h3>
        		</div>
        		<div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dinner-1.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Veg roll (Cownmeen)</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">50</span>
	                </div>
	              </div>
                <p><span> 2 pcs </span></p>
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dinner-2.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Pasta Roll</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">60</span>
	                </div>
	              </div>
	              <p><span> 2 pcs </span></p>
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dinner-3.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Patta gobi</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">60</span>
	                </div>
	              </div>
	              <p><span> 2 pcs </span></p>
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dinner-3.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Paneer Roll</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">60</span>
	                </div>
	              </div>
	              <p><span> 2 pcs </span></p>
              </div>
            </div>
        	</div>
        	<div class="col-md-6 col-lg-4 menu-wrap">
        		<div class="heading-menu text-center ftco-animate">
        			<h3>SWEETS</h3>
        		</div>
        		<div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dinner-1.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Pastry</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">30</span>
	                </div>
	              </div>
                
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dinner-2.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Gulab Jamun</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">30</span>
	                </div>
	              </div>
                <p><span> 2 pcs</span></p>
              </div>
            </div>
            <div class="heading-menu text-center ftco-animate">
        			<h3>DRINK</h3>
        		</div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dinner-3.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Water Botle</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">20</span>
	                </div>
	              </div>
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dinner-3.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Soft Drink</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">25</span>
	                </div>
	              </div>
              </div>
            </div>
        	</div>
        </div>
    	</div>

    </section>



     <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="js/main.js"></script>

</body>
</html></html>